/**********************************************************
	fonts
**********************************************************/

@font-face {
	font-family: Bebas Neue;
	src: url(assets/fonts/Bebas Neue/BebasNeue-Regular.otf);
}

@font-face {
	font-family: Hanken;
	src: url(assets/fonts/Hanken/Hanken-Book.ttf);
}

@font-face {
	font-family: Permanent Marker;
	src: url(assets/fonts/Permanent Marker/PermanentMarker-Regular.ttf);
}

/**********************************************************
	color palette
**********************************************************/

/*
	#721817 - prune
	#3E92CC - celestial blue
	#51355A - pineapple
	#2A0C4E - russian violet
	#2A628F - lapis lazuli
*/

/**********************************************************
	global
**********************************************************/

.container {
	width: 95%;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0px;
	margin: 0px;
}

* {
	max-width: 100%;
}

p {
	font-family: avenir, sans-serif;
	font-size: 15.2px;
}

a {
	color: #721817;
}

a:hover {
	color: #2a0c42;
	text-decoration: line-through;
	cursor: hand;
}

.col-sm-4 {
	padding: 0px;
}

.col-sm-4:nth-child(1) {
	padding-right: 10px;
}

.col-sm-6:nth-child(2) {
	padding-left: 10px;
	padding-right: 10px;
}

.col-sm-4:nth-child(3) {
	padding-left: 10px;
}

.col-md-3:nth-child(3) {
	padding-right: 5px;
}

.col-md-3:nth-child(4) {
	padding-left: 5px;
	padding-right: 5px;
}


.col-sm-6 {
	padding: 10px;
}

.col-sm-6:nth-child(1) {
	padding-right: 10px;
}

.col-sm-6:nth-child(2) {
	padding-left: 10px;
}

.row a {
	color: black;
}

/**********************************************************
	nav
**********************************************************/

.site-brand {
	font-family: Bebas Neue;
	font-size: 40px;
	letter-spacing: 3px;
	color: black;
}

header {
	margin-bottom: -20px;
}

.site-brand:hover {
	text-decoration: line-through;
	color: #51355a;
}

.navbar {
	padding: 5px 0px 2.5px 0px;
	max-width: 1450px;
	display: block;
	margin: inherit auto;
}

.burger {
	height: 4px;
	background-color: black;
	width: 25px;
	border-radius: 1.7px;
	margin: 4px;
	position: relative;
	top: -10px;
	transition: 0.5s;
}

header button {
	background: none;
	border: none;
	position: relative;
	top: 23px;
	z-index: 0;
}

.sidenav {
    height: 100%; 
    width: 0;
    max-width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
	background: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s; 
}

.closebtn {
	padding-top: 10px;
}

.flex-wrapper {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 80%;
    width: 100%;
    padding: 40px 20px 10px;
    text-align: right;  
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #aaa;
    transition: 0.3s;
    font-family: Hanken;
    font-size: 23px;
}

.sidenav a:hover {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/**********************************************************
	index-hero
**********************************************************/

#hero {
	height: 500px;
	width: 100%;
	display: table;
	text-align: center;
}

.middle-text {
	display: table-cell;
	vertical-align: middle;
	font-family: Permanent Marker;
}

#hero .middle-text h1 {
	color: white;
	text-shadow: 4px 6px black;	
	font-size: 6.5em;
	letter-spacing: 5px;
	margin-bottom: 40px;
	margin-top: 0px;
}

#hero .middle-text button {
	border: none;
	box-sizing: border-box;
	box-shadow: 3px 3px 0px black;
	background: yellow;
	padding: 15px 20px;
	font-size: 2.8rem;
}

/**********************************************************
	page-wrapper
**********************************************************/

.page-wrapper {
	background: #F3F3F3;
	width: 100%;
	padding: 15px;
}

/**********************************************************
	index-inner
**********************************************************/

.index-inner {
	background: white;
	padding: 15px;
	margin: 30px auto;
	width: 88%;
	max-width: 1000px;
}

/**********************************************************
	page-top
**********************************************************/

.page-top {
	display: table;
	width: 100%;
	text-align: center;
	background: black;
	color: white;
}

.page-top h1 {
	display: table-cell;
	padding: 40px 0px;
	vertical-align: middle;
	font-family: Permanent Marker;
	font-size: 50px;
	letter-spacing: 3px;
}

/**********************************************************
	index-feat, staff-feat, indiv-post
**********************************************************/

#index-feat h1 {
	text-align: center;
	font-family: Permanent Marker;
	font-size: 50px;
	color: black;
	text-shadow: 3px 2px white;
	margin: 30px auto;
}

#index-feat a,
#staff-feat a {
	color: black;
}

#index-feat iframe,
#staff-feat iframe,
#indiv-post iframe {
	max-width: 1000px;
	display: block;
	margin: 35px auto 5px;
}

.feat-img {
	height: 300px;
	max-width: 1000px;
	margin: auto; 
}

#index-feat h2,
#staff-feat h2,
#indiv-post h2 {
	text-align: center;
	font-family: Permanent Marker;
	font-size: 33px;
	color: black;
	margin: 25px auto 20px;
}

#index-feat p,
#staff-feat p,
#indiv-post p {
	width: 80%;
	max-width: 750px;
	text-align: center;
	margin: 15px auto 20px;
}

#index-feat:hover h2,
#staff-feat:hover h2,
#indiv-post:hover h2 {
	text-decoration: line-through;
}

#index-feat:hover a,
#staff-feat:hover a,
#indiv-post:hover a {
	text-decoration: none;
}

/**********************************************************
	comments
**********************************************************/

.comment-wrapper {
	width: 88%;
	margin: 10px auto;
}

.comment-info h4 {
	display: inline-block;
	font-family: hanken;
	color: #777;
	font-size: 16px;
}

.comment-info h4:nth-child(1) {
	margin-right: 70px;
	margin-left: 0px;
}

.indiv-comment:nth-child(1) {
	margin-top: 20px;
}

.indiv-comment {
	margin: 40px auto;
}

form {
	width: 100%;
	margin: auto;
}

input[type=text],
input[type=email],
input[type=submit],
textarea {
	border-radius: 5px;
	border: solid 1px #aaa;
	padding: 5px 0px;
}

input[type=text] {
	width: 30%;
	display: inline-block;
}

input[type=email] {
	width: 69%;
	display: inline-block;
	float: right;
}

textarea {
	width: 100%;
	height: 150px;
	margin-top: 10px;
}

input[type="submit"] {
	width: 100%;
	font-size: 16px;
	margin-top: 10px;
	background: #3E92CC;
	color: white;
}

input::placeholder,
textarea::placeholder {
	padding-left: 5px;
	font-family: hanken;
}

/**********************************************************
	new-list
**********************************************************/

.new-list-title {
	background: black;
	color: white;
	width: 88%;
	max-width: 1000px;
	margin: auto auto -30px;
	padding: 15px 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: Bebas Neue;
	font-size: 55px; 
}

.new-list .index-inner {
	padding: 30px 15px;
}

.new-img {
	height: 180px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.new-list p {
	margin-top: 5px;
}

.new-list iframe {
	height: 100%;
	width: 100%;
	position: relative;
	top: 100%;
	transition: 0.5s ease;
}

.new-list .new-img:hover iframe {
	position: relative;
	top: 0px;
	transition: 0.5s ease;
}

.new-list h3 {
	font-family: Bebas Neue;
	font-size: 32px;
	margin-top: 15px;
}

.new-list a {
	color: black;
}

.new-list a:hover {
	text-decoration: none;
}

.new-list a:hover h3 {
	text-decoration: line-through;
}

.new-list .row {
	width: 100%;
	margin: auto;
	padding: 0px;
}

/**********************************************************
	footer
**********************************************************/

footer {
	width: 100%;
}

#foot-social {
	background: #2A0C4E;
	color: white;
	font-family: hanken, sans-serif;
	text-align: center;
	padding: 30px;
}

#foot-social h3 {
	margin: 5px auto 20px;
}

#foot-social a {
	color: white;
}

#foot-social a:hover {
	text-decoration: none;
}

#foot-social .social-buttons {
	width: 70%;
	max-width: 800px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.social-bubble {
	height: 60px;
	width: 60px;
	border-radius: 100%;
	background: #51355A;
	display: table;
	transition: 0.5s ease;
}

.social-bubble.twitter:hover {
	background: #1da1f2;
}

.social-bubble.tumblr:hover {
	background: #35465c;
}

.social-bubble.facebook:hover {
	background: #3b5998;
}

.social-bubble.reddit:hover {
	background: #ff4500;
}

.social-bubble i {
	display: table-cell;
	vertical-align: middle;
	font-size: 20px;
}

#foot-nav {
	background: black;
	color: #9B9B9B;
	font-family: hanken, sans-serif;
	text-align: center;
	padding: 25px;
}

#foot-nav nav {
	width: 80%;
	max-width: 900px;
	margin: 20px auto 25px;
	font-size: 18px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#foot-nav a {
	color: white;
}

/**********************************************************
	playlist modal formatting
**********************************************************/

.modal {
	width: 500px;
	margin: 25px auto;
}

.modal iframe {
	height: 540px;
	width: 100%;
}

.modal-header {
	padding: 30px 15px;
	background: black;
}

.modal-header button {
	font-size: 30px;
	color: white;
	opacity: 1;
	position: relative;
	top: -15px;
}
.modal-header button:hover {
	color: #3E92CC;
	opacity: 1;	
	text-shadow: none;
}

.modal-footer {
	background: black;
	color: white;
	padding: 20px 20px 25px;	
}

.modal-footer h3, h5 {
	font-family: hanken, sans-serif;
	color: white;
	opacity: 1;
	text-align: center;
}

.modal-footer h3 {
	margin: 5px;
}

.modal-footer button {
	background: yellow;
	color: black;
	border: none;
	width: 70%;
	font-size: 22px;
	margin: 10px auto;
	display: block;
	font-family: Permanent Marker, sans-serif;
}


/**********************************************************
	contact page
**********************************************************/

#contact-wrapper {
	padding: 30px;
}

#contact-wrapper h1 {
	font-family: Bebas Neue, sans-serif;
	text-align: center;
}

#contact-wrapper p {
	width: 88%;
	max-width: 680px;
	margin: 20px auto;
}

#contact-wrapper ul {
	font-family: hanken;
	font-weight: normal;
	width: 80%;
	max-width: 650px;
	margin: 10px auto;
}

#contact-wrapper strong {
	color: #721817;
}

#contact-wrapper button {
	width: 100%;
	background: black;
	color: white;
	font-family: hanken;
	font-size: 38px;
	margin: -10px auto 0px;
	padding: 20px 0px;
	letter-spacing: 3px;
}

.question {
	margin: 30px auto;;
}

.question:nth-child(1) {
	margin-top: 0px;
}

.disclaimer {
	text-align: center;
	font-size: 16px;
}

/**********************************************************
	multi-post
**********************************************************/

.excerpt-half-img {
	background: yellow;
	height: 250px;
	margin: 0px;
	padding: 0px;
}

#multi-wrapper .col-sm-6 {
	margin-bottom: 20px;
}

.col-sm-6:hover a {
	text-decoration: none;
}

.col-sm-6:hover h3 {
	text-decoration: line-through;
}

.excerpt-half-sum h3 {
	font-family: Bebas Neue;
	font-size: 28px;
	margin: 15px 0px 0px;
}

.excerpt-third-img {
	height: 180px;
	width: 100%;
	position: relative;
	filter: grayscale(0.7);
	overflow: hidden;
}

#multi-wrapper a:hover {
	text-decoration: none;
}

.excerpt-third-img:hover {
	filter: none;
	transition: 0.5s ease;	
}

.excerpt-third-img:hover h4 {
	height: 100%;
	display: table-cell;
	transition: 0.5s ease;
}

.excerpt-third-img:hover .excerpt-third-title {
	position: relative;
	top: 60%;
	transition: 1s;
}

.excerpt-third-title {
	position: absolute;
	top: 300px;
	font-family: hanken;
	height: 40%;
	width: 100%;
	display: table;
	background: rgba(0,0,0,0.5);
	transition: 0.5s ease;
}

.excerpt-third-title h4 {
	
	color: white;
	display: none;
	vertical-align: middle;
	text-align: center;
}

/**********************************************************
	about page
**********************************************************/

#about-page {
	min-height: 100%;
	position: relative;
	background-position: center !important;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 500px;
}

#about-text {
	padding: 15px;
}

#about-text h1 {
	font-family: Bebas Neue;
	font-size: 40px;
	color: black;
}

#about-text p {
	margin: 20px auto;
	font-weight: 500;
	font-size: 16px;
}

#about-text button {
	background: black;
	color: white;
	border: none;
	font-family: hanken;
	margin-top: 30px;
	padding: 15px;
	width: 350px;
	font-size: 18px;
}

/**********************************************************
	media queries
**********************************************************/

@media only screen and (min-width: 900px) {
	.feat-img {
		height: 400px;
	}
	
	.excerpt-half-img {
		height: 300px;
	}
	
	.excerpt-third-img {
		height: 250px;
	}
	
	.excerpt-third-title {
		height: 25%;
	}
	
	.excerpt-third-img:hover .excerpt-third-title {
		position: relative;
		top: 75%;
		transition: 1s;
	}
	
	#about-page {
		min-height: 700px;
	}
}

@media only screen and (max-width: 900px) {
	#about-page {
		background-position:  center !important;
	}
	
	#multi-wrapper .row {
		margin: auto;
	}
	
	#multi-wrapper .col-sm-6 {
		padding: 0px;
	}
	
	#multi-wrapper .col-sm-6:nth-child(even) {
		padding-left: 5px;
	}
	
	#multi-wrapper .col-sm-6:nth-child(odd) {
		padding-right: 5px;
	}
}

@media only screen and (max-width: 767px) {
	#hero {
		height: 100%;
	}
	
	#hero .middle-text {
		position: relative;
		top: -30px;
	}
	
	.index-inner {
		text-align: center;
	}
	
	.index-inner ul {
		text-align: left;
	}
	
	.sidenav {
		max-width: none !important;
	}
	
	#about-page {
		background: #ddd !important;
	}
	
	.new-list .col-sm-4:nth-child(1) {
		margin-top: -10px;
	}
	
	.col-sm-4 {
		padding: 10px 0px;
		margin: 10px auto;
	}
	
	#contact-wrapper button {
		font-size: 16px;
		width: 100%;
	}
	
	#multi-wrapper .row {
		width: 100%;
		margin: auto;
	}
	
	#multi-wrapper .col-sm-6:nth-child(1) {
		margin-top: 0px;
	}
	
	#multi-wrapper .col-sm-6 {
		padding: 0px;
		margin: 40px auto;
		width: 100%;
		display: block;
	}
	
	.excerpt-third-img {
		width: 100%;
		padding: 0px;
	}
	
	#multi-wrapper .col-sm-4 {
		padding: 0px;
		margin: 30px auto;
	}
	
	#multi-wrapper .col-sm-4:nth-child(3){
		margin-bottom: 0px;
	}
	
	.social-bubble {
		height: 45px;
		width: 45px;
	}
	
	.social-bubble i {
		font-size: 16px;
	}
	
	#foot-nav nav {
		display: none;
	}
	
	
}  